<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>newNakdongRiver</display-name>
  
  <welcome-file-list>
    <welcome-file>login.do</welcome-file>
  </welcome-file-list>
    
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/ndk-service.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
<!--   <listener> -->
<!--     <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class> -->
<!--   </listener> -->
  <context-param>
    <param-name>log4jConfigLocation</param-name>
    <param-value>/WEB-INF/classes/log4j.properties</param-value>
  </context-param>
  <servlet>
    <servlet-name>ndk</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ndk</servlet-name>
    <url-pattern>*.json</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ndk</servlet-name>
    <url-pattern>*.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>default1</servlet-name>
    <servlet-class>org.apache.catalina.servlets.DefaultServlet</servlet-class>
    <init-param>
      <param-name>debug</param-name>
      <param-value>0</param-value>
    </init-param>
    <init-param>
      <param-name>listings</param-name>
      <param-value>false</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>default1</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>jsp</servlet-name>
    <servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
    <init-param>
      <param-name>fork</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
      <param-name>xpoweredBy</param-name>
      <param-value>false</param-value>
    </init-param>
    <load-on-startup>3</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>jsp</servlet-name>
    <url-pattern>*.jsp</url-pattern>
  </servlet-mapping>
  <!--  New Start -->
  
  
  
  <servlet>
    <servlet-name>top</servlet-name>
    <jsp-file>/jsp/common/top.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>top</servlet-name>
    <url-pattern>/top.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>bottom</servlet-name>
    <jsp-file>/jsp/common/bottom.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>bottom</servlet-name>
    <url-pattern>/bottom.do</url-pattern>
  </servlet-mapping>
  
  <!--  Main -->
  <servlet>
    <servlet-name>dbStatusNew</servlet-name>
    <jsp-file>/jsp/db/db_statusNew.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>dbStatusNew</servlet-name>
    <url-pattern>/dbStatusNew.do</url-pattern>
  </servlet-mapping>
  
  <!--  물환경보고서 -->
  <servlet>
    <servlet-name>waterBrd</servlet-name>
    <jsp-file>/jsp/board/warter_brd.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>waterBrd</servlet-name>
    <url-pattern>/waterBrd.do</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>waterBrdView</servlet-name>
    <jsp-file>/jsp/board/warter_brd_view.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>waterBrdView</servlet-name>
    <url-pattern>/waterBrdView.do</url-pattern>
  </servlet-mapping>
     <servlet>
    <servlet-name>waterBrdWrite</servlet-name>
    <jsp-file>/jsp/board/warter_brd_write.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>waterBrdWrite</servlet-name>
    <url-pattern>/waterBrdWrite.do</url-pattern>
  </servlet-mapping>
  
  <!--  수생태계보고서 -->
  <servlet>
    <servlet-name>hydroBrd</servlet-name>
    <jsp-file>/jsp/board/hydro_brd.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>hydroBrd</servlet-name>
    <url-pattern>/hydroBrd.do</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>hydroBrdView</servlet-name>
    <jsp-file>/jsp/board/hydro_brd_view.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>hydroBrdView</servlet-name>
    <url-pattern>/hydroBrdView.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>hydroBrdWrite</servlet-name>
    <jsp-file>/jsp/board/hydro_brd_write.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>hydroBrdWrite</servlet-name>
    <url-pattern>/hydroBrdWrite.do</url-pattern>
  </servlet-mapping>
  
  
  <!--  환경기초조사자료 -->
  <servlet>
    <servlet-name>envBrd</servlet-name>
    <jsp-file>/jsp/board/env_brd1.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>envBrd</servlet-name>
    <url-pattern>/envBrd.do</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>envBrdView</servlet-name>
    <jsp-file>/jsp/board/env_brd_view1.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>envBrdView</servlet-name>
    <url-pattern>/envBrdView.do</url-pattern>
  </servlet-mapping>
  
  
  <!-- 환경기초조사 사업 상세보기, 첨부파일 링크시 팝업창으로 띄우기 SS -->
   <servlet>
    <servlet-name>survey_popup</servlet-name>
    <jsp-file>/jsp/popup/survey_popup.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>survey_popup</servlet-name>
    <url-pattern>/survey_popup.do</url-pattern>
  </servlet-mapping>
  <!-- 환경기초조사 사업 상세보기, 첨부파일 링크시 팝업창으로 띄우기 EE -->
  
  
  
  <servlet>
    <servlet-name>envBrdWrite</servlet-name>
    <jsp-file>/jsp/board/env_brd_write1.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>envBrdWrite</servlet-name>
    <url-pattern>/envBrdWrite.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>envBrd2</servlet-name>
    <jsp-file>/jsp/board/env_brd2.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>envBrd2</servlet-name>
    <url-pattern>/envBrd2.do</url-pattern>
  </servlet-mapping>
  
  <!-- pop test SS -->
  <servlet>
    <servlet-name>test</servlet-name>
    <jsp-file>/jsp/popup/test.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test_popup.do</url-pattern>
  </servlet-mapping>
  <!-- pop test EE -->
  
  
  
  
  
  
  
  
  <servlet>
    <servlet-name>envBrdView2</servlet-name>
    <jsp-file>/jsp/board/env_brd_view2.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>envBrdView2</servlet-name>
    <url-pattern>/envBrdView2.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>envBrdWrite2</servlet-name>
    <jsp-file>/jsp/board/env_brd_write2.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>envBrdWrite2</servlet-name>
    <url-pattern>/envBrdWrite2.do</url-pattern>
  </servlet-mapping>
  
   
  <!--  관련기관소개 -->
  <servlet>
    <servlet-name>relOrgBrd</servlet-name>
    <jsp-file>/jsp/board/relorg_internal_brd.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>relOrgBrd</servlet-name>
    <url-pattern>/relOrgBrd.do</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>relOrgBrd2</servlet-name>
    <jsp-file>/jsp/board/relorg_foreign_brd.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>relOrgBrd2</servlet-name>
    <url-pattern>/relOrgBrd2.do</url-pattern>
  </servlet-mapping>
  <!--  New End -->
  
  
  <servlet>
    <servlet-name>login</servlet-name>
    <jsp-file>/jsp/login/login.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/login.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>topMap</servlet-name>
    <jsp-file>/jsp/common/top_map.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>topMap</servlet-name>
    <url-pattern>/topMap.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>menuName</servlet-name>
    <jsp-file>/jsp/common/menuName.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>menuName</servlet-name>
    <url-pattern>/menuName.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ruleInfo</servlet-name>
    <jsp-file>/jsp/common/ruleInfo.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ruleInfo</servlet-name>
    <url-pattern>/ruleInfo.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>esDown</servlet-name>
    <jsp-file>/jsp/common/esDown.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>esDown</servlet-name>
    <url-pattern>/esDown.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>download</servlet-name>
    <jsp-file>/jsp/common/download.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>download</servlet-name>
    <url-pattern>/download.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>proxy</servlet-name>
    <jsp-file>/jsp/common/proxy.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>proxy</servlet-name>
    <url-pattern>/proxy.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>layerInfo</servlet-name>
    <jsp-file>/jsp/common/layerInfo.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>layerInfo</servlet-name>
    <url-pattern>/layerInfo.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>dbStatus</servlet-name>
    <jsp-file>/jsp/db/db_status.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>dbStatus</servlet-name>
    <url-pattern>/dbStatus.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>topNoMap</servlet-name>
    <jsp-file>/jsp/common/top_noMap.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>topNoMap</servlet-name>
    <url-pattern>/topNoMap.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>dbLand</servlet-name>
    <jsp-file>/jsp/db/db_land.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>dbLand</servlet-name>
    <url-pattern>/dbLand.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>dbRiver</servlet-name>
    <jsp-file>/jsp/db/db_river.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>dbRiver</servlet-name>
    <url-pattern>/dbRiver.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>dbInfoBo</servlet-name>
    <jsp-file>/jsp/db/db_info_bo.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>dbInfoBo</servlet-name>
    <url-pattern>/dbInfoBo.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>dbInfoDam</servlet-name>
    <jsp-file>/jsp/db/db_info_dam.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>dbInfoDam</servlet-name>
    <url-pattern>/dbInfoDam.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>dbInfoRain</servlet-name>
    <jsp-file>/jsp/db/db_info_rain.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>dbInfoRain</servlet-name>
    <url-pattern>/dbInfoRain.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>dbInfoWeather</servlet-name>
    <jsp-file>/jsp/db/db_info_weather.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>dbInfoWeather</servlet-name>
    <url-pattern>/dbInfoWeather.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>wuStatus</servlet-name>
    <jsp-file>/jsp/wu/wu_status.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>wuStatus</servlet-name>
    <url-pattern>/wuStatus.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>wuSewer</servlet-name>
    <jsp-file>/jsp/wu/wu_sewer.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>wuSewer</servlet-name>
    <url-pattern>/wuSewer.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>wuFarm</servlet-name>
    <jsp-file>/jsp/wu/wu_farm.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>wuFarm</servlet-name>
    <url-pattern>/wuFarm.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>weStatus</servlet-name>
    <jsp-file>/jsp/we/we_status.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>weStatus</servlet-name>
    <url-pattern>/weStatus.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>dbRainRiver</servlet-name>
    <jsp-file>/jsp/db/db_rainriver.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>dbRainRiver</servlet-name>
    <url-pattern>/dbRainRiver.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>weInfoTPMV</servlet-name>
    <jsp-file>/jsp/we/we_info_tpmv.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>weInfoTPMV</servlet-name>
    <url-pattern>/weInfoTPMV.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>weWater</servlet-name>
    <jsp-file>/jsp/we/we_water.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>weWater</servlet-name>
    <url-pattern>/weWater.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>etfStatus</servlet-name>
    <jsp-file>/jsp/etf/etf_status.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>etfStatus</servlet-name>
    <url-pattern>/etfStatus.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>wpsStatus</servlet-name>
    <jsp-file>/jsp/wps/wps_status.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>wpsStatus</servlet-name>
    <url-pattern>/wpsStatus.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>wpsDischarge</servlet-name>
    <jsp-file>/jsp/wps/wps_discharge.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>wpsDischarge</servlet-name>
    <url-pattern>/wpsDischarge.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>plLoad</servlet-name>
    <jsp-file>/jsp/pl/pl_load.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>plLoad</servlet-name>
    <url-pattern>/plLoad.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>plRate</servlet-name>
    <jsp-file>/jsp/pl/pl_rate.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>plRate</servlet-name>
    <url-pattern>/plRate.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>plCompare</servlet-name>
    <jsp-file>/jsp/pl/pl_compare.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>plCompare</servlet-name>
    <url-pattern>/plCompare.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>plDevelop</servlet-name>
    <jsp-file>/jsp/pl/pl_develop.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>plDevelop</servlet-name>
    <url-pattern>/plDevelop.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>esStatus</servlet-name>
    <jsp-file>/jsp/es/es_status.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>esStatus</servlet-name>
    <url-pattern>/esStatus.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>admin</servlet-name>
    <jsp-file>/jsp/admin/admin_md.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin</servlet-name>
    <url-pattern>/admin.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>admin2</servlet-name>
    <jsp-file>/jsp/admin/admin_sd.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin2</servlet-name>
    <url-pattern>/admin2.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>admin3</servlet-name>
    <jsp-file>/jsp/admin/admin_dd.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin3</servlet-name>
    <url-pattern>/admin3.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>admin4</servlet-name>
    <jsp-file>/jsp/admin/admin_zd.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin4</servlet-name>
    <url-pattern>/admin4.do</url-pattern>
  </servlet-mapping>  
  
  <servlet>
    <servlet-name>admin_subList</servlet-name>
    <jsp-file>/jsp/admin/admin_subList.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin_subList</servlet-name>
    <url-pattern>/admin_subList.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>admin_modify</servlet-name>
    <jsp-file>/jsp/admin/admin_subList2.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin_modify</servlet-name>
    <url-pattern>/admin_modify.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>admin_insert</servlet-name>
    <jsp-file>/jsp/admin/admin_insert.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin_insert</servlet-name>
    <url-pattern>/admin_insert.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>notice</servlet-name>
    <jsp-file>/jsp/common/notice.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>notice</servlet-name>
    <url-pattern>/notice.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>notice_insert</servlet-name>
    <jsp-file>/jsp/common/notice_insert.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>notice_insert</servlet-name>
    <url-pattern>/notice_insert.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>notice_listview</servlet-name>
    <jsp-file>/jsp/common/notice_listview.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>notice_listview</servlet-name>
    <url-pattern>/notice_listview.do</url-pattern>
  </servlet-mapping> 
  
   <servlet>
    <servlet-name>Notice_modify</servlet-name>
    <jsp-file>/jsp/common/Notice_modify.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Notice_modify</servlet-name>
    <url-pattern>/Notice_modify.do</url-pattern>
  </servlet-mapping>   
  
  <servlet>
    <servlet-name>chart_db_status1</servlet-name>
    <jsp-file>/resources/js/chart/db/status/app1.html</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>chart_db_status1</servlet-name>
    <url-pattern>/chartDbStatus1.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>chart_db_status2</servlet-name>
    <jsp-file>/resources/js/chart/wps/disChanrge/app.html</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>chart_db_status2</servlet-name>
    <url-pattern>/chartDbStatus2.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>chart_db_status3</servlet-name>
    <jsp-file>/resources/js/chart/db/status/app2.html</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>chart_db_status3</servlet-name>
    <url-pattern>/chartDbStatus3.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>chart_db_land</servlet-name>
    <jsp-file>/resources/js/chart/db/land/app.html</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>chart_db_land</servlet-name>
    <url-pattern>/chartDbland.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>chart_db_river</servlet-name>
    <jsp-file>/resources/js/chart/db/river/app.html</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>chart_db_river</servlet-name>
    <url-pattern>/chartDbriver.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>chart_db_river2</servlet-name>
    <jsp-file>/resources/js/chart/db/river2/app.html</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>chart_db_river2</servlet-name>
    <url-pattern>/chartDbriver2.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>chart_wu_status</servlet-name>
    <jsp-file>/resources/js/chart/wu/status/app.html</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>chart_wu_status</servlet-name>
    <url-pattern>/chartWuStatus.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>chart_wu_sewer1</servlet-name>
    <jsp-file>/resources/js/chart/wu/sewer/app1.html</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>chart_wu_sewer1</servlet-name>
    <url-pattern>/chartWuSewer1.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>chart_wu_sewer2</servlet-name>
    <jsp-file>/resources/js/chart/wu/sewer/app2.html</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>chart_wu_sewer2</servlet-name>
    <url-pattern>/chartWuSewer2.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>chart_we_status</servlet-name>
    <jsp-file>/resources/js/chart/we/status/app.html</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>chart_we_status</servlet-name>
    <url-pattern>/chartWeStatus.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>chart_we_water</servlet-name>
    <jsp-file>/resources/js/chart/we/water/new/app.html</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>chart_we_water</servlet-name>
    <url-pattern>/chartWeWater.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>chart_etf_status</servlet-name>
    <jsp-file>/resources/js/chart/etf/status/new/app.html</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>chart_etf_status</servlet-name>
    <url-pattern>/chartEtfStatus.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>chart_wps_status</servlet-name>
    <jsp-file>/resources/js/chart/wps/status/app.html</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>chart_wps_status</servlet-name>
    <url-pattern>/chartWpsStatus.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>chart_pl_load</servlet-name>
    <jsp-file>/resources/js/chart/pl/load/new/app.html</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>chart_pl_load</servlet-name>
    <url-pattern>/chartPlLoad.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>chart_pl_rate</servlet-name>
    <jsp-file>/resources/js/chart/pl/rate/menu621.html</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>chart_pl_rate</servlet-name>
    <url-pattern>/chartPlRate.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>exportExcel</servlet-name>
    <jsp-file>/jsp/excel.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>exportExcel</servlet-name>
    <url-pattern>/exportExcel.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>saveImage</servlet-name>
    <jsp-file>/jsp/saveImage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>saveImage</servlet-name>
    <url-pattern>/saveImage.do</url-pattern>
  </servlet-mapping>
  
  <error-page>
    <error-code>401</error-code>
    <location>/jsp/error/401.jsp</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/jsp/error/403.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/jsp/error/404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/jsp/error/500.jsp</location>
  </error-page>
  <security-constraint>
    <display-name>JSP Protection</display-name>
    <web-resource-collection>
      <web-resource-name>SecureJSPPages</web-resource-name>
      <url-pattern>*.jsp</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>nobody</role-name>
    </auth-constraint>
  </security-constraint>
  <security-role>
    <description>Nobody should be in this role so JSP files are protected from direct access.</description>
    <role-name>nobody</role-name>
  </security-role>
</web-app>